 <nav
          class="flex 2xl:justify-between xl:justify-between lg:justify-between md:justify-between sm:justify-between 2xl:items-center xl:items-center lg:items-center md:items-center sm:items-start text-alice-blue bg-[#282E30] h-[60px] py-[3rem] 2xl:px-[4rem] xl:px-[2.5rem] lg:px-[2.5rem] md:px-[2rem] sm:px-[1.5rem] 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col flex-col bg-opacity-40">
            <logo>
              <h1 class="text-[1.6rem]"><span
                  class="bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">Giu</span>Projects
              </h1>
            </logo>
            <ol class="flex gap-6 text-lg 2xl:items-center xl:items-center lg:items-center md:items-center sm:items-start items-start 2xl:flex-row lg:flex-row md:flex-row sm:flex-col flex-col">
              <li class="hover:text-button-blue transition-colors duration-200 "><a href="">Home</a></li>
              <li class="hover:text-button-blue transition-colors duration-200"><a href="">About</a></li>
              <li class="hover:text-button-blue transition-colors duration-200"><a href="">Contact</a></li>
              <li class="hover:text-button-blue transition-colors duration-200"><a href="">Services</a></li>
            </ol>
            <div class="flex gap-4">
              <button class="text-lg hover:text-button-blue transition-colors duration-200">
                Login
              </button>
              <button
                class="text-alice-blue py-1 px-4 text-lg border border-solid border-alice-blue hover:border-button-blue transition-colors duration-300 ease-in-out hover:text-button-blue"
                draggable="false" style="user-select: none;">
                Register
              </button>
            </div>
            
        </nav>