

<nav class="border-gray-200 bg-opacity-40 bg-[#282E30]">
   <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center">
         <logo>
            <h1 class="text-[1.6rem] text-alice-blue"><span
               class="bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">Giu</span>Projects
            </h1>
         </logo>
      </a>
      <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 ml-3 text-sm  rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 text-button-blue" aria-controls="navbar-solid-bg" aria-expanded="false" id="button_nav">
         <span class="sr-only">Open main menu</span>
         <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
         </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
         <ul class="flex flex-col font-medium mt-4 text-lg rounded-lg bg-[#282E30] bg-opacity-40 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent transition duration-200 text-alice-blue">
            <li class="hover:text-button-blue transition-colors duration-200 "><a href="/">Home</a></li>
            <li class="hover:text-button-blue transition-colors duration-200"><a href="/about">About</a></li>
            <li class="hover:text-button-blue transition-colors duration-200"><a href="/cities">Cities</a></li>
            <li class="hover:text-button-blue transition-colors duration-200"><a href="">Services</a></li>
         </ul>
      </div>
      <div class="hidden w-full md:block md:w-auto transition duration-200" id="login-list">
         <div class="flex gap-4 ">
           <% if (!user) { %>
            <button class="text-lg hover:text-button-blue transition-colors duration-200 text-alice-blue" onclick="window.location.href='/login';">
            Login
            </button>
            <button
               class="text-alice-blue py-1 px-4 text-lg border border-solid border-alice-blue hover:border-button-blue transition-colors duration-300 ease-in-out hover:text-button-blue" onclick="window.location.href='/register';" draggable="false" style="user-select: none;">
            Register
            </button>
          <% } else { %>
              <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet"/>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
              <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center text-sm font-medium text-alice-blue  transition duration-200 hover:text-button-blue md:mr-0 " type="button">
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 mr-2 rounded-full" src="../dist/images/user.png" alt="user photo">
           <p class="text-alice-blue"><%-user.username%></p> 
            <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownAvatarName" class="z-10 hidden bg-[#282E30] bg-opacity-50 divide-y divide-gray-100 rounded-lg shadow w-44 ">
            <div class="px-4 py-3 text-sm" id="dropdownUserMenu">
              <div class="font-medium text-alice-blue"><%-user.privilege%></div>
              <div class="truncate text-gray-400 text-xs"><%-user.email%></div>
            </div>
            <ul class="py-2 text-sm text-[#282E30]" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
              <li>
                <a href="/" class="block px-4 py-2 hover:bg-gray-100 ">Dashboard</a>
              </li>
              <li>
                <a href="/settings" class="block px-4 py-2 hover:bg-gray-100 ">Settings</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Earnings</a>
              </li>
            </ul>
            <div class="py-2">
              <a href="#" class="block px-4 py-2 text-sm text-[#282E30] hover:bg-gray-100 ">Sign out</a>
            </div>
        </div>
          <% } %>
         </div>
      </div>
   </div>
</nav>
<script>
   links = document.getElementById("navbar-solid-bg");
   login = document.getElementById("login-list");
   button = document.getElementById("button_nav");
   let hidden = true
   
   button.addEventListener("click", function() {
     if (hidden == true ) {
      links.style.display = "block";
      login.style.display = "block";
      hidden=false;
     }
     else  {
      links.style.display = "none";
      login.style.display = "none";
      hidden=true;
     }
   })
   
   window.addEventListener('resize',function(){
     if(window.innerWidth >= 767){
     links.style.display = "block";
     login.style.display = "block";
     hidden=false;
     }
   })

</script>

