<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/css/home.css">
  <link rel="stylesheet" href="../dist/output.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="icon" type="image/x-icon" href="./assets/logo.png">
  <title>Giu • Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  
</head>

<body class="font-poppins bg-cyan-700" id="particles-js">
  <div class="fixed top-0 left-0 w-screen h-screen font-poppins overflow-hidden">
    <nav class="p-5 bg-black shadow md:flex md:items-center md:justify-between">
  <div class="flex justify-between items-center">
    <button class="text-2xl font-[Poppins] cursor-pointer" onclick="Menu(this)">
      <img class="h-10 inline" src="../dist/images/logo.gif" alt="Logo">
      GIU
    </button>

    <button class="text-3xl cursor-pointer mx-2 md:hidden block" aria-label="Toggle menu">
      <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
    </button>
  </div>

  <ul class="md:flex md:items-center z-[-1] md:z-auto md:static md:opacity-100 transition-all ease-in duration-500 bg-black w-full md:w-auto md:py-0 py-4 md:pl-10 pl-10 justify-center" id="navbar">
    <li class="mx-4 my-6 md:my-0">
      <a href="/" class="text-xl hover:text-cyan-500 duration-500">Home</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="/views/about.ejs" class="text-xl hover:text-cyan-500 duration-500">About</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="/views/contact.ejs" class="text-xl hover:text-cyan-500 duration-500">Contact</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a href="/views/settings.ejs" class="text-xl hover:text-cyan-500 duration-500">Settings</a>
    </li>
    <li>
      <button type="button" class="bg-cyan-400 text-white font-[Poppins] duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded" aria-label="Login">
        Login
      </button>
    </li>
  </ul>
</nav>

    <div class="flex h-screen items-center justify-center">
      <div class="bg-[#282E30] w-[90%] h-[75%] mb-[5rem] bg-opacity-70 rounded-md px-14 pt-9 overflow-hidden">
      </div>
    </div>
  </div>

  <script>
    function Menu(e) {
      let list = document.querySelector('ul');
      if (e.name === 'close') {
        e.name = 'menu';
        list.style.display = "none"
      } else {
        e.name = 'close';
        list.style.display = "block"  
      }
    }

    
    document.querySelector('ul').style.display = "nove";
  </script>
  <script src="https://particlesjs.nathanielx3rd.repl.co/particles.js"></script>
  <script src="./scripts/app.js"></script>
  <script src="./scripts/home.js"></script>
  <script src="./scripts/particles.min.js"></script>
</body>
</html>