<!DOCTYPE html>
<html lang="en">
   <%-  include("../../partials/head.ejs")%>
   <body class="font-poppins overflow-y-auto overflow-x-hidden scrollbar scrollbar-thin scrollbar-rounded-lg" id="particles-js">
       <div class="flex justify-center items-center h-screen">
		   <div class="flex items-center flex-col gap-3">
             <img src="../../dist/images/error.png">
             <h1 class="md:text-[3rem] text-2xl uppercase bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">404 - Page not found</h1>
		<div class="flex items-center gap-2">
			<a href="/">
				<p class="text-[#DEE2E6] text-sm">Return to the HomePage
        </p>
			</a>
		<i class="fa-solid fa-arrow-right text-button-blue"></i>
		</div>
		   </div>
	   </div>
      <script src="../dist/scripts/particles/script.js"></script>
      <script src="../dist/scripts/particles/app.js"></script>
      <script src="../dist/scripts/particles/particles.min.js"></script>
   </body>
</html>