<!DOCTYPE html>
<html lang="en">
   <%-  include("../../partials/head.ejs")%>
   <body class="font-poppins" id="particles-js">
         <wrap class="flex justify-center">
            <section class="bg-cover bg-center w-[98%] rounded-lg mt-[1rem]"
               style="background-image: url('../dist/images/background.png'); ">
               <%- include("../../partials/navbar.ejs")%>
               <section class="mb-[7rem]">
                  <p class="uppercase text-[#DEE2E6] pt-10 px-[5rem]">Homepage<a/>
                  <div class="px-[5rem] flex justify-between">
                     <div class="flex flex-col">
                        <div class="flex flex-col ">
                           <p class="text-[3rem] bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">
                              Empowering 
                           </p>
                           <p class="text-[3rem] text-[#DEE2E6]">your digital world</p>
                        </div>
                        <div class="flex gap-1 items-center hover:underline no-underline underline-offset-1 text-[#DEE2E6] mt-6">
                           <p class="text-[#DEE2E6] text-sm">Check us out! <i class="fa-solid fa-arrow-right text-button-blue"></i>
                           </p>
                        </div>
                     </div>
                  </div>
               </section>
            </section>
         </wrap>
         <section class="pt-10 px-[5.5rem]">
            <p class="text-[#DEE2E6] uppercase">Featured</p>
            <div class="flex flex-row justify-between">
               <div class="flex flex-col ">
                  <p class="text-[3rem] bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">
                     Check our most
                  </p>
                  <p class="text-[3rem] text-[#DEE2E6]">visited cities</p>
               </div>
               <div class="basis-2/6 mt-[1rem]">
                  <div class="flex flex-col">
                     <p class="text-sm text-[#DEE2E6]">
                       
We cover everything from the must-see attractions and hidden gems, to the best restaurants and accommodations, as well as local customs and cultural experiences. Whether you're planning a weekend getaway, a family vacation, or a solo adventure, we've got you covered.
                     </p>
                  </div>
               </div>
            </div>

			 <div>
				 <div class="">
					 <img src="">
				 </div>
			 </div>
         </section>
      <script src="../dist/scripts/particles/script.js"></script>
      <script src="../dist/scripts/particles/app.js"></script>
      <script src="../dist/scripts/particles/particles.min.js"></script>
   </body>
</html>