<!DOCTYPE html>
<html lang="en">
   <%-  include("../../partials/head.ejs")%>
   <body class="font-poppins" id="particles-js">
         <wrap class="flex justify-center">
            <section class="bg-cover bg-center w-[98%] rounded-lg mt-[1rem]"
               style="background-image: url('../dist/images/background.png'); ">
               <%- include("../../partials/navbar.ejs")%>
               <section class="mb-[7rem]">
                  <p class="uppercase text-[#DEE2E6] pt-10 px-[5rem]">Homepage<a/>
                  <div class="px-[5rem] flex justify-between">
                     <div class="flex flex-col">
                        <div class="flex flex-col ">
                           <p class="text-[3rem] bg-gradient-to-r from-button-blue to-purple-500 text-transparent bg-clip-text">
                              Empowering 
                           </p>
                           <p class="text-[3rem] text-[#DEE2E6]">your digital world</p>
                        </div>
                        <div class="flex gap-1 items-center hover:underline no-underline underline-offset-1 text-[#DEE2E6] mt-6">
                           <p class="text-[#DEE2E6] text-sm">Check us out! <i class="fa-solid fa-arrow-right text-button-blue"></i>
                           </p>
                        </div>
                     </div>
                  </div>
               </section>
            </section>
         </wrap>
         <div class="flex gap-4 px-[3rem]">
  <div class="w-1/2 bg-[#282E30] w-[98%] p-4 px-[4rem] rounded-lg"> 
	  
  </div>
  <div class="w-1/2 bg-[#282E30] w-[98%] p-4 items-center justify-center rounded-lg"></div>
</div>

         
      <script src="../dist/scripts/particles/script.js"></script>
      <script src="../dist/scripts/particles/app.js"></script>
      <script src="../dist/scripts/particles/particles.min.js"></script>
   </body>
</html>